NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/deploy-board

# Jenkins
JENKINS_URL=http://localhost:8080
JENKINS_USER=ton-username
JENKINS_TOKEN=ton-api-token